#CountingLable{
    display:  block;
    text-align: center;
    font-family: Helvetica;
    font-size: 10em;
}
#BtnContainer{
    text-align: center;
}
.btn{
    padding: 10px , 20px;
    font-size: 1.5em;
    background-color: rgb(167, 92, 236);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.btn:hover{
    background-color: blueviolet;
}